		#big { 
				
			color:white; 
			font-size:80px; 
			font-family:Microsoft YaHei UI; 
			margin-left:370px; 
			margin-top:-20px;	
			height:25px;
			
				
		}
		
		#small {
		
			color:white;
			font-size:40px;
			font-family:Microsoft YaHei UI;
			margin-left:370px;
			margin-top:34px;	
			font-weight:bold;
			text-shadow: 2px 2px 2px black;
			height:49px;
			word-break:keep-all;

			
		}
	
		#title-png {
		
			position:fixed;
			z-index:-100;
			margin-left:350px;
			top:100px;
			transition:margin-left 1s;
			-webkit-transition:margin-left 1s; /* Safari */

			
		}

		#side {
		
			position:fixed;
			z-index:-100;
			left:173px;
			top:50px;
			-moz-border-radius: 15px;
			-webkit-border-radius: 15px;
			border-radius:15px;
			transition:margin-left 0.75s;
			-webkit-transition:margin-left 0.75s; /* Safari */

		}

		#little-png {
		
			position:fixed;
			z-index:-100;
			margin-left:350px;
			top:35px;
			transition:margin-left 1s;
			-webkit-transition:margin-left 1s; /* Safari */
		
		}
		
		#title,#little-title {
			transition:margin-left 1s;
			-webkit-transition:margin-left 1s; /* Safari */

		}